#main {
    margin-bottom: 0
}

.jumbotron {
    padding-bottom: 0
}

table {
    border-collapse: collapse;
    border: solid;
    align-items: center;
    margin-bottom: 0.6rem
}

colgroup,
tbody {
    border: solid medium;
}

td {
    border: solid;
    height: 8vh;
    width: 8vh;
    text-align: center;
    padding: 0;
    font-weight: 600;
}

@media (max-width: 500px) {
    td {
        border: solid thin;
        height: 5vh;
        width: 10vh;
        text-align: center;
        padding: 0;
    }
}