#main {
    margin-bottom: 0;
    padding-right: 0;
    align-items: center;
}

.jumbotron {
    padding-bottom: 0;
}

table {
    border-collapse: collapse;
    border: solid thick;
    align-items: center;
    margin-bottom: 0.6rem;
}

colgroup,
tbody {
    border: solid medium;
}

tr {
    border: solid medium;
}

td {
    text-align: center;
    max-width: 20px;
    padding: 5px 5px;
    line-height: 14px;
    border: solid thin;
}

col {
    padding-right: 0;
    padding-bottom: 0;
}      